# Introduccion
en este notebook se analizará, un dataset de 2000 canciones, y se espera crear una red neuronal capaz de poder el valor de popularidad de una canción

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
import keras

In [8]:
spotify = pd.read_csv('Spotify-2000.csv')
spotify.head()

   Index                   Title  ... Speechiness Popularity
0      1                 Sunrise  ...           3         71
1      2             Black Night  ...           7         39
2      3          Clint Eastwood  ...          17         69
3      4           The Pretender  ...           4         76
4      5  Waitin' On A Sunny Day  ...           3         59

[5 rows x 15 columns]

Separo el dataset, por un lado 'X' va a tener de columnas todos los posibles features que se puede user, 'y' va a ser nuestra columna target, el valor que queremos predecir

In [10]:
X, y = spotify.iloc[:,:-1], spotify.iloc[:,-1]

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.2, random_state=123)